<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Todo Detail</h1>
    <h3><%= todo.todo %></h3>
	<h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
  </body>
</html>
